{% load static %}

<nav>
    <a class="nav-link" href="{% url 'News1' %}">Политика</a> |
    <a class="nav-link" href="{% url 'News2' %}">Спорт</a> |
    <a class="nav-link" href="{% url 'News3' %}">Техника</a> |
    <a class="nav-link" href="{% url 'News4' %}">Наука</a> |
    <a class="nav-link" href="{% url 'News5' %}">Общество</a> |
    <a class="nav-link" href="{% url 'News6' %}">placeholder</a> |
    <a class="nav-link" href="{% url 'News7' %}">placeholder</a> |
    <a class="nav-link" href="{% url 'NewsIndividual' %}">Индивидуальная</a>
</nav>


{% block content %}

{% endblock %}