{% load static %}

<nav>
    <a class="nav-link" href="{% url 'news1' %}">Политика</a> |
    <a class="nav-link" href="{% url 'news2' %}">Спорт</a> |
    <a class="nav-link" href="{% url 'news3' %}">Техника</a> |
    <a class="nav-link" href="{% url 'news4' %}">Наука</a> |
    <a class="nav-link" href="{% url 'news5' %}">Общество</a> |
    <a class="nav-link" href="{% url 'news6' %}">placeholder</a> |
    <a class="nav-link" href="{% url 'news7' %}">placeholder</a> |
    <a class="nav-link" href="https://docs.celeryproject.org/en/stable/getting-started/first-steps-with-celery.html#celerytut-configuration">Индивидуальная</a>
</nav>


{% block content %}

{% endblock %}