{% extends "base.html" %}

{% block content %}
<h1>News</h1>

{% if object_list %}
  <table width="100%" cellspacing="0" cellpadding="5">
  {% for news_L, news_R in object_list %}
  <tr>
    <td width="50%" valign="top"> <a href="{{ news_L.news_url }}">{{ news_L.news_text }}</a> ( {{ news_L.news_hype_rate }} ) </td>
    <td valign="top"> <a href="{{ news_R.news_url }}">{{ news_R.news_text }}</a> ( {{ news_R.news_hype_rate }} ) </td>
  </tr>
  {% endfor %}
  </table>
{% else %}
  <p>There are no news.</p>
{% endif %}
{% endblock %}