.myclass {
    padding-left: 5%;
}

.logo-site-logo {
    color: indigo;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo-site-name {
    color: indigo;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.Individual-lenta {
    color: #a41515;
}